[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/.vim/bundle/powerline"]
	path = vim/.vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/.vim/bundle/markdown"]
	path = vim/.vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
