[user]
    name = Kian-Meng, Ang
    email = kianmeng@cpan.org

[alias]
    a = add
    ca = commit --amend -s
    cm = commit
    co = checkout
    cpn = cherry-pick -n
    cs = commit -s
    cs = commit -s
    dc = diff --cached
    fu = fetch upstream
    lg = log --graph --abbrev-commit \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    po = push origin
    pom = push origin master
    pomf = push origin master --force-with-lease
    pr = pull --rebase
    rum = rebase upstream/master
    st = status
    st = status
    url = remote -v
    url = remote -v

[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
    interactive = auto

[core]
    whitespace = trailing-space,space-before-tab
    editor = vim '+set tw=72'
	excludesfile = ~/.gitignore_global

[merge]
    tool = meld

[diff]
    tool = icdiff

[difftool "icdiff"]
    cmd = icdiff --line-numbers --highlight $LOCAL $REMOTE

[pull]
    rebase = false # use git pr
