.adobe/*
.android/*
.cache/*
.cargo
.cfg/*
.composer
.conda/*
.config/*
.cpanm/*
.cups/*
.dosbox/*
.dosemu/*
.docker/*
.energia15/*
.flowblade/*
.fontconfig/*
.fonts/*
.gconf/*
.gimp-2.8/*
.gnome/*
.gnupg/*
.gradle/*
.icons/*
.java/*
.local/*
.minikube/*
.mozilla/*
.mplayer/*
.ncrack/*
.netrwhist
.nimble/*
.npm/*
.oni/*
.openshot/*
.ordbrand/*
.parallel/*
.password-store/*
.pki/*
.rustup/*
.sane
.shutter/*
.ssh/*
.subversion/*
.sunpinyin/*
.texlive2016/*
.texlive2017/*
.thumbnails/*
.thunderbird/*
.vim/autoload/*
.vim/bundle/*
.vim/plugged/*
.vscode/*
.wine/*

.alsoftrc
.aspell.en.prepl
.aspell.en.pws
.bash_history
.bash_logout
.bash_profile
.chromium-bsu
.condarc
.dmrc
.esd_auth
.gtkrc-2.0
.hgrc
.ICEauthority
.imwheelrc
.latexmkrc
.lesshst
.milkytracker_config
.mspdebug_history
.multirust
.mycli.log
.myclirc
.mysql_history
.netrc
.node_repl_history
.pam_environment
.pause
.pciids-cache
.pgpass
.profile
.python_history
.sciminfo
.sudo_as_admin_successful
.viminfo
.vim_mru_files
.wget-hsts
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old
.yarnrc
.z

Android/*
AndroidStudioProjects/*
Books/*
Calibre Library/*
Desktop/*
Documents/*
Downloads/*
Energia/*
Music/*
Pictures/*
perl5/*
Videos/*
snap/*
src/*

auto-save-list
elpa
eshell/history
ido.last
save-place
smex-items
*~
*.el~
*.swp
\#*
