.cache/*
.cfg/*
.config/*
.cpanm/*
.gnome/*
.gnupg/*
.local/*
.mozilla/*
.netrwhist
.pki/*
.ssh/*
.vim/autoload/*
.vim/bundle/*
.vim/plugged/*

.bash_history
.bash_logout
.bash_profile
.esd_auth
.ICEauthority
.viminfo
.vim_mru_files
.wget-hsts
.z

src/*
auto-save-list
elpa
eshell/history
ido.last
save-place
smex-items
*~
*.el~
*.swp
\#*
