[user]
    name = Kian-Meng, Ang
    email = kianmeng@cpan.org

[alias]
    a = add
    url = remote -v
    st = status
    pom = push origin master
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
    interactive = auto

[core]
    whitespace = trailing-space,space-before-tab
    editor = vim '+set tw=72'
	excludesfile = /home/ang/.gitexcludes

[merge]
    tool = meld

[branch]
    autosetuprebase = always

[diff]
    tool = icdiff

[difftool "icdiff"]
    cmd = icdiff --line-numbers --highlight $LOCAL $REMOTE

[pull]
    rebase = true
