# tab auto-completion case-insensitive just to reduce a few key strokes.
# @see http://askubuntu.com/a/87066
# @see http://hiltmon.com/blog/2013/03/12/better-bash-shell-expansion/
# @see http://www.reddit.com/r/commandline/comments/kbeoe/you_can_make_readline_and_bash_much_more_user/

$include /etc/inputrc
set completion-ignore-case on
set mark-symlinked-directories on
set show-all-if-ambiguous on
set completion-prefix-display-length 2
TAB: menu-complete
"\e[Z": "\e-1\C-i"
