#!/usr/bin/env bash

# Upgrade my debian wheezy kernel to 3.14-0.bpo.1-amd64 but kind of messed up
# my Nvidia driver. Hence revert back to Nouveau driver instead but still needs
# xrandr to update the dual-monitors resolutions.

# .xprofile enables us to run commands at the beginning of X user session
# before the window manager start.
# @see https://wiki.archlinux.org/index.php/xprofile

# This .xprofile only works for xcfe4 desktop environment and not GNOME or
# Unity. You'll have to manually execute this file.
# $ bash .xprofile

if [[ "$HOSTNAME" == perl ]]; then
    autorandr --change &
    poll-xrandr &
fi

# enable fcitx IME for i3 window manager
if [[ ! "$DESKTOP_SESSION" == gnome ]]; then
    export GTK_IM_MODULE=fcitx
    export QT4_IM_MODULE=fcitx
    export QT_IM_MODULE=fcitx
    export XMODIFIERS="@im=fcitx"
fi
